header{
    width: 7.5rem;
    height: .88rem;
    background: #fff;
    box-shadow: 0px 0px .36rem 0px rgba(0, 0, 0, 0.05);
    display: flex;
    padding: 0 .3rem;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    left: 50%;
    top: 0;
    z-index: 99;
    margin-left: -3.75rem;
}
.logo_img{
    width: .44rem;
    height: .44rem;
    margin-right: .14rem;
}
.logo{
    display: flex;
    align-items: center;
}
.logo_title{
    font-size: .3rem;
    color: #E94645;
    font-weight: 500;
}
#menu img{
    width: .38rem;
    height: .28rem;
}
.nav{
    width: 2.8rem;
    height: 100%;
    background: #fff;
    border-radius: .16rem 0px 0px .16rem;
    position: fixed;
    right: 0;
    top: 0;
    right: -2.8rem;
    transition: all .5s;
    -o-transition: all .5s;
    -ms-transition: all .5s;
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    z-index: 999;
}
.nav.active{
    right: 0;
}
.nav .logo2{
    padding-top: 1.86rem;
    margin-bottom: 1.6rem;
}
.logo2_img{
    width:.88rem;
    height: .88rem;
    display: block;
    margin: 0 auto; 
}
.nav li a{
    font-size: .36rem;
    color: #999;
    height: .36rem;
    line-height: .36rem;
}
.nav li.active a{
    color: #E94645;
}
.nav li {
    margin-bottom:.8rem;
    text-align: center;
}
.menu_detail{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.6);
    position: fixed;
    /* left: 0; */
    top: 0;
    right: -100%;
    z-index: 999;
}
.menu_detail.active{
    right: 0;
}
.content{
    width: 7.5rem;
    height: 100%;
    background-image: url("../images/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 1.34rem;
    position: relative;
    /* margin-top: .88rem; */
    margin: 0 auto;
}
.img1 img{
    width: 7.2rem;
    height: 3.8rem;
    display: block;
    margin: 0 auto;
}
.img2{
    width: 5.8rem;
    height: 1.4rem;
    margin: 0 auto;
    margin-top: -.3rem;
}
.img2 img{
    display: block;
    margin: 0 auto;
    width: 5.8rem;
    height: 1.4rem;
}
.img3 {
    width: 7.2rem;
    height: 5.8rem;
    margin: 0 auto;
    margin-top: -.14rem;
}
.img3 img{
    display: block;
    margin: 0 auto;
    width: 7.2rem;
    height: 5.8rem;
}
.index_bot{
    width: 7.5rem;
    height: 1.96rem;
    position: absolute;
    bottom: 0;
}
.btn{
    display: flex;
    padding: 0 .3rem;
    justify-content: space-between;
    margin-bottom: .3rem;
}
.btn a{
    width: 3.3rem;
    height: .8rem;
    border-radius: .4rem;
    font-size: .36rem;
    text-align: center;
    line-height: .8rem;
    color: #fff;
    font-weight: 500;
}
.android{
    background: linear-gradient(90deg, #F7813A, #F73A6F);
}
.ios{
    background: linear-gradient(90deg, #FF375D, #FF37A8, #B638FF);
}
.copyright{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.copyright span{
    font-size: .26rem;
    color: #001125;
    height: .3rem;
    line-height: .26rem;
    margin-bottom: .16rem;
    border-bottom: .01rem solid #999;
}
.copyright p a{
    color: #001125;
    font-size: .2rem;
}

@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
    .content{
        padding-top: 1.8rem;
        height: 100%;
    }
    .img2{
        margin-top: 0;
        margin-bottom: .54rem;
    }
    .img1{
        margin-bottom: .26rem;
    }
    .index_bot{
        height: 2.3rem;
    }
    .btn{
        margin-bottom: .52rem;
    }
}
/* 首页结束 */
/* 看比赛开始 */
.watch{
    width: 7.5rem;
    padding-top: .88rem;
    background: #F7F8F8;
    min-height: 100%;
    padding-bottom: .98rem;
    margin: 0 auto;
}
.watch_ul{
    width: 100%;
    height: .8rem;
    background: #fff;
    display: flex;
    padding:0 .3rem;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .3rem;
}
.watch_ul li a{
    font-size: .3rem;
    color: #666;
}
.watch_ul li.active a{
    color: #E94645;
    position: relative;
}
.watch_ul li.active a::after{
    display: block;
    width: .4rem;
    height: .04rem;
    content: " ";
    clear: both;
    background: #F75958;
    border-radius: .02rem;
    left: 50%;
    margin-left: -.2rem;
    position: absolute;
    bottom: -.08rem;
}
.watch_content{
    width: 6.9rem;
    margin: 0 auto;
}
.watch_item{
    display: none;
}
.watch_item.active{
    display: block;
}
.watch_match{
    padding: .28rem .22rem;
    background: #FFFFFF;
    box-shadow: 0px 0px .16rem 0px rgba(143, 23, 22, 0.05);
    border-radius: .16rem;
    margin-bottom: .2rem;
}
.dot{
    width: .08rem;
    height: .08rem;
    background-color: #F75958;
    border-radius: 50%;
    margin: 0 .16rem;
}
.watch_match_top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .28rem;
}
.watch_match_top p{
    font-size: .26rem;
    color: #333;
}
.watch_match_top span{
    font-size: .26rem;
}
.watch_match_top p.grey,.watch_match_top p .grey{
    color: #999;
}
.watch_match_top p.red{
    color: #E94645;
}
.watch_match_bot .team_img{
    width: .78rem;
    height: .78rem;
}
.watch_match_bot .team_img img{
    width: .78rem;
    height: .78rem;
}
.watch_match_bot{
    display: flex;
    align-items: center;
}
.team_img.mr{
    margin-right: .12rem;
}
.team_img.ml{
    margin-left: .12rem;
}
.watch_match_bot .team_name{
font-size: .26rem;
color: #333;
width: 1.6rem;
overflow:hidden;
text-overflow:ellipsis;
white-space: nowrap
}
.watch_match_bot .team_name.tl{
    text-align: left;
    margin-right: .3rem;
}
.watch_match_bot .team_name.tr{
    text-align: right;
    margin-left: .3rem;
}
.watch_match_bot .span{
    width: .52rem;
    height: .52rem;
    border-radius: .08rem;
    font-size: .46rem;
    color: #fff;
    text-align: center;
    line-height: .52rem;
    font-family: shuzi;
}
.watch_match_bot .span.red{
    background: #F53D3C;
}
.watch_match_bot .span.blue{
    background: #3C79F5;
}
.watch_match_bot .span.grey{
    background: #eee;
}
.watch_match_bot .span.grey{
    position: relative;
}
.watch_match_bot .span.grey::after{
    width: .28rem;
    height: .04rem;
    display: block;
    content: " ";
    clear: both;
    background: #aaa;
    border-radius: .02rem;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}
.watch_match_bot .span.mr{
    margin-right: .1rem;
}
/* 看比赛结束 */
/* 底部 */
footer{
    width: 7.5rem;
    height: .98rem;
    background-image:url("../images/bottom.png") ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: fixed;
    left: 50%;
    bottom: 0;
    padding: 0 .3rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: -3.75rem;
}
.download{
    display: block;
    width: 2.6rem;
    height: .68rem;
    background: #F7473A;
    border-radius: .34rem;
    text-align: center;
    line-height: .68rem;
    font-size: .36rem;
    color: #fff;
}
/* 底部 */
/* 最新资讯 */
.new{
    background: #F7F8F8;
    padding-left: .3rem;
    width: 7.5rem;
    min-height: 100%;
    padding-top: .88rem;
    padding-bottom: 1rem;
    margin: 0 auto;
}
.new_item{
    padding-bottom: .2rem;
    width: 100%;
    border-bottom: .02rem solid #eee;
    padding-top: .3rem;
    padding-right: .3rem;
}
.new_item p.title{
    font-size: .32rem;
    font-weight: 500;
    color: #333;
    width: 6.88rem;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    margin-bottom: .24rem;
    height: .4rem;
    line-height: .4rem;
}
.new_item_div{
    display: flex;
}
.new_item_img{
    width: 1.46rem;
    height: 1.08rem;
    margin-left: .32rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink:0;
}
.new_item_img .imgauto{
    object-fit: contain;
    width: 100%;
    height: 100%;
}
.new_item p.description{
    font-size: .26rem;
    color: #454545;
    margin-bottom: .3rem;
    height: .72rem;
    line-height: .36rem;
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    flex-shrink:0;
}
.new_item p.description *{
    font-size: .26rem;
    color: #454545;
}
.new_item .others{
    display: flex;
    justify-content: space-between;
    flex-shrink:0;
}
.new_item .others span{
    font-size: .24rem;
    color: #999;
}
.chakan img{
    width: .24rem;
    height: .18rem;
    margin-right: .1rem;
}
.video {
    width: 6.9rem;
    height: 3rem;
    margin-top: .3rem;
}
.video img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto;
}
.paging{
    padding: .3rem;
}
/* 分页 */
.paging{
    display: flex;
    justify-content: center;
    align-items: center;
}
.paging_pre img{
    width: 34px;
    height: 34px;
    display: none;
}
.paging_pre{
    margin-right: 4px;
    width: 34px;
    height: 34px;
}
.paging_next img{
    width: 34px;
    height: 34px;
    display: none;
}
.paging_pre img.active,.paging_next img.active{
    display: block;
}
.img_transform{
    transform: rotate(180deg);
}
.paging a{
    float: left;
    border-radius: .04rem;
}
.paging .paging_num{
    width: .68rem;
    height: .68rem;
    background: #FFFFFF;
    border: .01rem solid #EEEEEE;
    border-radius: .04rem;
    font-size: .26rem;
    color: #333;
    text-align: center;
    line-height: .68rem;
    margin-right: .08rem;
}
.paging .paging_num.active{
    background: #FF6649;
    color: #fff;
}
.paging_pre,.paging_next{
    width: .68rem;
    height: .68rem;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.paging_pre img{
    width: .28rem;
    height: .4rem;
}
.paging .more img{
    width: .4rem;
    height: .08rem;
    margin: 0 .24rem;
}
.paging_next img{
    width: .28rem;
    height: .4rem;
}
.paging_next.active,.paging_pre.active{
border: .01rem solid #FA8E69;
}
/* 分页 */
/* 最新资讯 */
/* 最新资讯详情页 */
.new_detail{
    padding: .88rem 0 1rem 0;
}
.new_detail .new_item{
    height: auto;
    border-bottom:0;
    padding: 0;
    padding-top: .3rem;
}
.new_detail .others{
   border-bottom: .02rem solid #eee;
   padding: 0 .3rem .3rem .3rem;
}
.new_detail p.title{
    padding: 0 .3rem;
    font-size: .32rem;
    font-weight: 500;
}
.new_detail_div{
    padding: .3rem;
}
.new_detail_div p{
    width: 6.9rem;
    font-size: .26rem;
    color: #454545;
    line-height: .36rem;
    /* margin-bottom: .3rem; */
}
.new_detail_div *{
    font-size: .26rem;
    color: #454545!important;
}
.new_detail_div img{
    width: 100%;
    display: block;
    margin: 0 auto;
    margin-bottom: .3rem;
}
/* 最新资讯详情页 */
/* 活动 */
.activities{
    padding-top: 1.2rem;
    background: #F7F8F8;
    min-height:100%;
    padding-bottom: 1rem;
}
.activity{
    width: 6.9rem;
    height: 4.24rem;
    margin:0 auto ; 
    background: #fff;
    box-shadow: 0px 0px .16rem 0px rgba(143, 23, 22, 0.05);
    border-radius: .16rem;
    margin-bottom: .3rem;
    overflow: hidden;
}
.activity .img{
    width: 6.9rem;
    height: 3.02rem;
    margin-bottom: .2rem;
}
.imgauto{
    object-fit: contain;
    width: 100%;
    height: 100%;
}
.activity_div1{
    display: flex;
    justify-content: space-between;
    padding: 0 .3rem;
    margin-bottom: .14rem;
}
.activity_div1 p{
    font-size: .32rem;
    color: #333;
    height: .38rem;
    line-height: .38rem;
}
.activity_div1 span{
    /* width: 2.9rem; */
    height: .38rem;
    background: #FFF3F3;
    font-size: .2rem;
    color: #EA3B3A;
    text-align: center;
    line-height: .38rem;
    border-radius: .04rem;
    padding: 0 .1rem;
}
.activity_p{
    font-size: .26rem;
    color: #666;
    /* text-align: center; */
    padding: 0 .3rem;
}
/* 活动 */
/* 关于我们 */
.about{
    padding-top: .88rem;
    background: #F7F8F8;
    min-height:100%;
    margin: 0 auto;
    width: 7.5rem;
    padding-bottom: 1rem;
}
.about1{
    width: 7.5rem;
    height: 2.56rem;
    background: #fff;
    padding: .2rem .3rem 0 .3rem;
    background-image: url("../images/about1_bg.png");
    background-size: 1.86rem 1.96rem;
    background-repeat: no-repeat;
    background-position: right 1.02rem bottom 0;
    position: relative;
    margin-bottom: .3rem;
}
.about1_div{

}
.about1_p{
    width: 1.72rem;
    height: .46rem;
    border-radius: .23rem;
    border: .01rem solid #F75958;
    display: inline-block;
    padding: 0 .12rem;
    vertical-align: middle;
}
.about1_p img{
    width: .34rem;
    height: .34rem;
    vertical-align: middle;
    margin-right: .12rem;
    margin-top: .03rem;
}
.about1_p i{
    font-size: .24rem;
    color: #E94645;
    height: .24rem;
    line-height: .24rem;
    vertical-align: middle;
    font-style: normal;
}
.yinhao_left{
    width: .56rem;
    height: .42rem;
}
.about1_div{
    font-size: .26rem;
    line-height: .38rem;
    color: #333;
    text-align: justify;
    word-break: break-all;
}
.yinhao_left{
    margin-bottom: .18rem;
}
.yinhao_right{
    width: .56rem;
    height: .42rem;
    position: absolute;
    right: .3rem;
    bottom: .3rem;
    transform: rotate(180deg);
}
.about2{
    width: 6.9rem;
    /* height: 6.16rem; */
    background: #fff;
    box-shadow: 0px 0px .16rem 0px rgba(143, 23, 22, 0.05);
    border-radius: .16rem;
    margin: 0 auto;
    padding-top: .3rem;
    margin-bottom: .3rem;
}
.about2 .img1,.about3 .img1{
    width: 3.26rem;
    height: .88rem;
    display: block;
    margin: 0 auto;
}
.about2_ul{
    padding: 0 .4rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: .24rem;
}
.about2_ul li a{
    display: flex;
    flex-direction: column;
   
}
.about2_ul li a span{
    font-size: .26rem;
    color: #333;
}
.about2_ul li a img{
    width: .9rem;
    height: .9rem;
    margin-bottom: .16rem;
}
.about2_p1{
    font-size: .26rem;
    color: #333;
    width: 6.3rem;
    line-height: .38rem;
    margin: 0 auto;
    margin-bottom: .2rem;
}
.about2_p1 span{
    font-size: .26rem;
    color: #E63534;
}
.about2_p2{
    width: 6.9rem;
    height: .48rem;
    background: #FFF3F3;
    text-align: center;
    line-height: .48rem;
    font-size: .26rem;
    color: #EA3B3A;
}
.about2_div1{
    height: 2.08rem;
    width: 100%;
    background-image: url("../images/fenxi_bg.png");
    background-repeat: no-repeat;
    background-position: right .2rem bottom 0;
    background-size: 2.8rem 1.38rem;
    padding-top: .5rem;
}
.fenxi{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: .28rem;
}
.fenxi img{
    width: .38rem;
    height: .36rem;
}
.fenxi img:nth-last-child(1){
    transform: rotateY(180deg);
}
.fenxi span{
    font-size: .28rem;
    color: #333;
    margin: 0 .24rem;
}
.about2_div1 p{
    font-size: .26rem;
    color: #333;
    line-height: .38rem;
    width: 6.28rem;
    margin: 0 auto;
}
.about3{
    width: 6.9rem;
    background: #fff;
    box-shadow: 0px 0px .16rem 0px rgba(143, 23, 22, 0.05);
    border-radius: .16rem;
    margin: 0 auto;
    padding-top: .3rem;
    margin-bottom: .4rem;
}
.about3 .img1{
    margin-bottom: .1rem;
}
.about3_ul li a img{
    width: 1.58rem;
    height: 1.58rem;
    margin-bottom: .2rem;
}
.about3_ul{
    padding: 0 .16rem ;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.about3_ul li{
    width: 33.33%;
}
.about3_ul li a{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about3_ul li a span{
    font-size: .28rem;
    color: #333;
    height: .28rem;
    line-height: .28rem;
    margin-bottom: .16rem;
}
.about3_ul li a p{
    font-size: .24rem;
    color: #666;
    width: 1.98rem;
    line-height: .32rem;
    margin-bottom: .3rem;
    text-align: center;
}
.about4{
    display: flex;
    justify-content: center;
    height: .5rem;
    margin-bottom: .6rem;
}
.about4 img{
    width: .5rem;
    height: .5rem;
}
.about4 .weixin{
    margin: 0 .6rem;
}

.mip-fill-content .wechat-model-layer {
    width: 4.5rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: .21rem;
    position: relative;
    background: #fff;
    border-radius: .1rem;
    box-shadow: 0px 0px .16rem 0px rgba(143, 23, 22, 0.5);
}

.mip-fill-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-width: 100%;
    max-width: 100%;
    height: 100%;
    margin: auto;
    text-align: center;
}
.mip-sjh-wechat-model {
    display: block;
    position: fixed;
    z-index: 10001;
    top: 35%;
    right: 0px;
    left: 0px;
    transition: opacity 0.1s ease-in 0s;
    display: none;
}

.mip-sjh-wechat-model .mip-fill-content .wechat-model-layer .wechat-model-success .image .wechat_success_logo {
    width: .46rem;
    height: .46rem;
    margin-bottom: .2rem;
}

.mip-sjh-wechat-model .title {
    font-size: 0.24rem;
    color: #333;
    margin-bottom: .12rem;
    height: .24rem;
    line-height: .24rem;
}

.mip-sjh-wechat-model .mip-fill-content .wechat-model-layer .wechat-model-success .wechat-number {
    color: #333;
    font-size: .24rem;
}

.mip-sjh-wechat-model .mip-fill-content .wechat-model-layer .wechat-model-success .desc {
    color: #333;
    font-size: .24rem;
}

.mip-sjh-wechat-model .mip-fill-content .wechat-model-layer .wechat-model-success .knowButton {
    background-color: #1aad19;
    border-radius: .05rem;
    width: 2.53rem;
    height: .57rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: .16rem;
    cursor: pointer;
}

.mip-sjh-wechat-model .mip-fill-content .wechat-model-layer .wechat-model-success .knowButton span {
    color: #fff;
    font-size: .24rem;
}

.show {
    cursor: pointer;
}

.mip-sjh-wechat-model .mip-fill-content .wechat-model-layer .close {
    position: absolute;
    right: .16rem;
    top: .16rem;
    width: .32rem;
    height: .32rem;
    cursor: pointer;
}
/* 关于我们 */
input{
    font-size: .2rem;
}
.about1_div .logo4{
    width: 1.72rem;
    height: .46rem;
    vertical-align: middle;
}