        /* 清除内外边距 */
        body,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        hr,
        p,
        blockquote,
        /* structural elements 结构元素 */
        dl,
        dt,
        dd,
        ul,
        ol,
        li,
        /* list elements 列表元素 */
        pre,
        /* text formatting elements 文本格式元素 */
        fieldset,
        lengend,
        button,
        input,
        textarea,
        /* form elements 表单元素 */
        th,
        td {
            /* table elements 表格元素 */
            margin: 0;
            padding: 0;
        }

        /* 重置列表元素 */
        ul,
        ol {
            list-style: none;
        }

        /* 重置文本格式元素 */
        a {
            text-decoration: none;
            color: #fff;
            outline: none;
        }

        a:hover {
            text-decoration: none;
        }

        * {
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            box-sizing: border-box;
            font-size: 0;
        }

        html,
        body {
            height: 100%;
			width:7.5rem;
			overflow-x:hidden;
        }
        @font-face {
            font-family: "shuzi";
            src: url("../font/shuzi.ttf") format("truetype");
          }